<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.posco.standardmanagement.s20a01.domain.user.mybatis.UserMapper">
    
    <!-- 예시 -->
    <!-- <select id="selectUserList" resultType="UserMybatisEntity">
        SELECT * FROM User_table
    </select>
    <select id="selectUser" resultType="UserMybatisEntity">
        SELECT * FROM User_table WHERE username = #{id}
    </select> -->
</mapper>